###### Title: Collecting data using interactive Jupyter widgets - B209460
Author details: Author: B209460. Contact details: B209460.
Notebook and data info: This Notebook provides an example of using interactive jupyter-widgets and to collect the NHS England accident and emergency attendances and admissions (ae_attendances) data (your test data) and save it to your working ‘Data’ folder, and finally saving all the captured test data to your 'RawData'.
Data: Data consists of date, numerical data and character data from NHSRdatasets package. Copyright statement: This Notebook is the product of The University of Edinburgh.

# Purpose of this script
The data I will be managing on the course are from the NHSRdatasets package. This package has been created to support skills development in the NHS-R community and contains several free datasets. The dataset set I have chosen to manage is the NHS England accident and emergency (A&E) attendances and admissions (ae_attendances) data. The ae_attendances data includes reported attendances, four-hour breaches and admissions for all A&E departments in England for 2016/17 through 2018/19 (Apr-Mar). A previously selected a subset of these variables, including period, breaches, and Org_code has been subdivided  into test and training data. 

This script will create an interactive widget to collect the above mentioned dataset, which will also be trained using above mentioned test data

The data will be loaded into an empty deatframe which will first be created using the pandas packages#Load the 'pandas' package

In [2]:
import pandas as pd
testData=pd.read_csv("../Data/ae_attendances_test.csv")
testData

    index      period  attendances  breaches org_code
0    1155  2016-12-01          200         0   C82010
1    2059  2016-10-01         6452       360      RDZ
2    3468  2016-05-01          417         0      RVR
3    4153  2018-03-01         9376       112      RQM
4    4820  2018-02-01          245         0      R1F
5    7243  2017-07-01         5170       235      RE9
6    8057  2017-04-01        15957      1309      RQM
7    8957  2019-02-01         7258      1374      RNL
8   10214  2018-10-01         3197         0      RJ1
9   10328  2018-10-01         2033         8      RKB
10  11767  2018-06-01          336         1    NLO12

# Data type
We now need to check the data type in the testData data frame. Let us use the dtypes function from the Python pandas package to query the data types in the testData. The dtypes function returns the data types in the data frame.

In [3]:
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
breaches        int64
org_code       object
dtype: object

Now let us collect the first row of data from the test data. Use the df.head() function to see the first row in the data frame(df).

The head() function
The head() function lets you look at the top n rows of a data frame. By default, it shows the first five rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

# Creating dataframe to fill
We need to set up an empty data frame in the working data folder to collect the data captured by the Juypter widgets.

In [4]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'period': [pd.Timestamp('20000101')], # Date
                   'attendances': [0], # Integer
                   'breaches': [0], # Integer
                   'org_code': ['NA'], # String
                   'consent': [False]}) # Boolean 

dfTofill

   index     period  attendances  breaches org_code  consent
0      0 2000-01-01            0         0       NA    False

Save the empty data frame to my working 'Data' folder:

In [ ]:
#dfTofill.to_csv('../Data/CollectedData.csv', index=False)

In [ ]:
CollectData=pd.read_csv("../Data/CollectedData.csv")
CollectData

First, I will add the index for each of my test data

In [5]:
index_number=11767
dfTofill.iloc[0,0]=index_number
dfTofill

   index     period  attendances  breaches org_code  consent
0  11767 2000-01-01            0         0       NA    False

# Installing widgets package
Now, I will import widgets within python using the ipywidgets Python package. The ipywidgets package provides a list of widgets commonly used in web apps and dashboards like dropdown, checkbox, radio buttons, etc.

In [6]:
#Load the 'ipywidgets' package
import ipywidgets as widgets

# Consent 
Next, I will use a widget to ensure that all data collected by the tool is done so with free and informed consent from the user.  I will set the default value to false within a check-box widget to ensure this

In [7]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)

In [8]:
display(a)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [ ]:
dfTofill.iloc[0,5]=a.value
dfTofill

# Collecting period data
I will use a date picker widget to collect my period variable

In [9]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [ ]:
dfTofill.iloc[0,1]=b.value
dfTofill

# Collecting attendances and breaches data
For both the attendances and breaches data points, I will use the IntTextwidget

In [10]:
e=widgets.IntText(
    value=0,
    description='Attendances:',
    disabled=False)

In [ ]:
display(e)

In [ ]:
dfTofill.iloc[0,2]=e.value
dfTofill

In [11]:
f=widgets.IntText(
    value=0,
    description='Breaches:',
    disabled=False)

In [ ]:
display(f)

In [ ]:
dfTofill.iloc[0,3]=f.value
dfTofill

# Collecting Org Code data
I will use a list of org codes and select widget to collect org code data.  I will first define this list and assign it to the object "org_code" by taking unique values only from the org_code list in my test data

In [12]:
org_code=list(testData['org_code'].unique())
org_code

['C82010', 'RDZ', 'RVR', 'RQM', 'R1F', 'RE9', 'RNL', 'RJ1', 'RKB', 'NLO12']

In [13]:
c=widgets.Select(
    options=org_code,
    value='C82010',
    rows=len(org_code),
    description='ODS code:',
    disabled=False
)
display(c)

Select(description='ODS code:', options=('C82010', 'RDZ', 'RVR', 'RQM', 'R1F', 'RE9', 'RNL', 'RJ1', 'RKB', 'NL…

In [ ]:
dfTofill.iloc[0,4]=c.value
dfTofill

# Concatenating newly collected data
I will us use the concat() function from the Python pandas package to append the CollectData and dfTofill data frames. The concat() function is used to concatenate pandas objects.

In [ ]:
# CollectData is the first data frame
# dfTofill is the second data frame
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

In [ ]:
CollectData= CollectData.reset_index(drop=True)

In [ ]:
display(CollectData)

# Remove values that did not supply consent
Before saving my collected data, I will remove any rows of data where informed consent was not obtained / indicated.

In [ ]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

# Save collected data to RawData folder

In [ ]:
CollectData.to_csv('../RawData/CollectedDataFinal.csv', index=False)

# The user interface for my data collection tool 

In this section, I will provide a little background for your end-user, why Their data is needed, and what it will be used for.
<br>

## The Box widget
The Box widget enables rich reactive layouts in the Jupyter Notebook. It aims at providing an efficient way to lay out, align and distribute space among widgets in a box. The HBox (Horizontal layout) and VBox (vertical layout) classes above are special cases of the Box widget.

<br>

### Create a reactive form for end-user
Let’s use the VBox widget to create a reactive form for our end-user. The form itself, and each row in the form is a Box widget.

<br>

In [16]:
#form=widgets.VBox([a,b,c,d,e,f,g,h])
form=widgets.VBox([a,b,e,f,c])

VBox(children=(Checkbox(value=False, description='I consent for the data I have provided to be processed and s…

# A&E Attendances and Emergency Admissions

The four-hour A&E waiting time target is a pledge set out in the Handbook to the NHS Constitution. (https://eu01.alma.exlibrisgroup.com/leganto/public/44UOE_INST/citation/37819402820002466?auth=SAML).  The operational standard is that at least 95% of patients attending A&E should be admitted, transferred or discharged within four hours. In January 2019, only 84.4% of patients were seen within four hours, the worst figure since the target was introduced in 2004.(https://www.bbc.co.uk/news/health-47229719) In November 2019 not a single A&E department hit the four-hour wait time target.(https://www.standard.co.uk/news/health/nhs-waiting-list-record-high-missed-target-boris-johnson-a4313351.html). The effects of the Covid-19 pandemic on NHS staffing and waiting lists have continued to degrade waiting times to record lows. (https://www.nuffieldtrust.org.uk/resource/a-e-waiting-times). A study in the Emergency Medicine Journal linked waiting more than 5 hours in emergency care before admission to hospital to a heightened risk of death from any cause within the next 30 days. (https://www.bmj.com/company/newsroom/5-hour-emergency-care-wait-before-admission-linked-to-heightened-death-risk/). 

The sharing and analysis of rouinte data plays a vital role in performance management of NHS A&E departments, allowing staff and management to understand trends and employ strategies that will mitigate risk. We would be very grateful if you could take one minute each month to share your data with us in the form below, which will allow us to provide insights to you and other hospital teams that will drive future performance.

In [17]:
display(form)

VBox(children=(Checkbox(value=False, description='I consent for the data I have provided to be processed and s…

# Thank you!

Thank you for sharing your data, and giving us your consent to process and share it with other service management teams across England. We will add your data to our open data resource (https://github.com/B209460/B209460-Assessment) for you to use now or in the futures as a benchmark against which to assess and improve your department’s performance against the 4-hour standard.