# Title: Collecting data using interactive Jupyter widgets
Author details: Author: Euan Vincent. Contact details: E.Vincent-4@sms.ed.ac.uk.
Notebook and data info: This Notebook provides an example of using interactive jupyter-widgets and to collect the NHS England accident and emergency attendances and admissions (ae_attendances) data (your test data) and save it to your working ‘Data’ folder, and finally saving all the captured test data to your 'RawData'.
Data: Data consists of date, numerical data and character data from NHSRdatasets package. Copyright statement: This Notebook is the product of The University of Edinburgh.

# Purpose of this script
The data I will be managing on the course are from the NHSRdatasets package. This package has been created to support skills development in the NHS-R community and contains several free datasets. The dataset set I have chosen to manage is the NHS England accident and emergency (A&E) attendances and admissions (ae_attendances) data. The ae_attendances data includes reported attendances, four-hour breaches and admissions for all A&E departments in England for 2016/17 through 2018/19 (Apr-Mar). A previously selected a subset of these variables, including period, breaches, and Org_code has been subdivided  into test and training data. 

This script will create an interactive widget to collect the above mentioned dataset, which will also be trained using above mentioned test data

The data will be loaded into an empty deatframe which will first be created using the pandas packages#Load the 'pandas' package

In [2]:
import pandas as pd
testData=pd.read_csv("../Data/ae_attendances_test.csv")
testData

    index      period  attendances  breaches org_code
0    1155  2016-12-01          200         0   C82010
1    2059  2016-10-01         6452       360      RDZ
2    3468  2016-05-01          417         0      RVR
3    4153  2018-03-01         9376       112      RQM
4    4820  2018-02-01          245         0      R1F
5    7243  2017-07-01         5170       235      RE9
6    8057  2017-04-01        15957      1309      RQM
7    8957  2019-02-01         7258      1374      RNL
8   10214  2018-10-01         3197         0      RJ1
9   10328  2018-10-01         2033         8      RKB
10  11767  2018-06-01          336         1    NLO12

# Data type
We now need to check the data type in the testData data frame. Let us use the dtypes function from the Python pandas package to query the data types in the testData. The dtypes function returns the data types in the data frame.

In [3]:
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
breaches        int64
org_code       object
dtype: object

Now let us collect the first row of data from the test data. Use the df.head() function to see the first row in the data frame(df).

The head() function
The head() function lets you look at the top n rows of a data frame. By default, it shows the first five rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

# Creating dataframe to fill
We need to set up an empty data frame in the working data folder to collect the data captured by the Juypter widgets.

In [4]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'period': [pd.Timestamp('20000101')], # Date
                   'attendances': [0], # Integer
                   'breaches': [0], # Integer
                   'org_code': ['NA'], # String
                   'consent': [False]}) # Boolean 

dfTofill

   index     period  attendances  breaches org_code  consent
0      0 2000-01-01            0         0       NA    False

Save the empty data frame to my working 'Data' folder:

In [6]:
#dfTofill.to_csv('../Data/CollectedData.csv', index=False)

In [48]:
CollectData=pd.read_csv("../Data/CollectedData.csv")
CollectData

   index      period  attendances  breaches  org_code  consent
0      0  2000-01-01            0         0       NaN    False

First, I will add the index for each of my test data

In [141]:
index_number=11767
dfTofill.iloc[0,0]=index_number
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-10-01         2033         8      RKB     True

# Installing widgets package
Now, I will import widgets within python using the ipywidgets Python package. The ipywidgets package provides a list of widgets commonly used in web apps and dashboards like dropdown, checkbox, radio buttons, etc.

In [8]:
#Load the 'ipywidgets' package
import ipywidgets as widgets

# Consent 
Next, I will use a widget to ensure that all data collected by the tool is done so with free and informed consent from the user.  I will set the default value to false within a check-box widget to ensure this

In [9]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)

In [51]:
display(a)

Checkbox(value=True, description='I consent for the data I have provided to be processed and shared in accorda…

In [142]:
dfTofill.iloc[0,5]=a.value
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-10-01         2033         8      RKB     True

# Collecting period data
I will use a date picker widget to collect my period variable

In [106]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [143]:
dfTofill.iloc[0,1]=b.value
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-06-01         2033         8      RKB     True

# Collecting attendances and breaches data
For both the attendances and breaches data points, I will use the IntTextwidget

In [20]:
e=widgets.IntText(
    value=0,
    description='Attendances:',
    disabled=False)

In [97]:
display(e)

IntText(value=245, description='Attendances:')

In [144]:
dfTofill.iloc[0,2]=e.value
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-06-01          336         8      RKB     True

In [31]:
f=widgets.IntText(
    value=0,
    description='Breaches:',
    disabled=False)

In [99]:
display(f)

IntText(value=0, description='Breaches:')

In [145]:
dfTofill.iloc[0,3]=f.value
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-06-01          336         1      RKB     True

# Collecting Org Code data
I will use a list of org codes and select widget to collect org code data.  I will first define this list and assign it to the object "org_code" by taking unique values only from the org_code list in my test data

In [41]:
org_code=list(testData['org_code'].unique())
org_code

['C82010', 'RDZ', 'RVR', 'RQM', 'R1F', 'RE9', 'RNL', 'RJ1', 'RKB', 'NLO12']

In [117]:
c=widgets.Select(
    options=org_code,
    value='C82010',
    rows=len(org_code),
    description='ODS code:',
    disabled=False
)
display(c)

Select(description='ODS code:', options=('C82010', 'RDZ', 'RVR', 'RQM', 'R1F', 'RE9', 'RNL', 'RJ1', 'RKB', 'NL…

In [146]:
dfTofill.iloc[0,4]=c.value
dfTofill

   index      period  attendances  breaches org_code  consent
0  11767  2018-06-01          336         1    NLO12     True

# Concatenating newly collected data
I will us use the concat() function from the Python pandas package to append the CollectData and dfTofill data frames. The concat() function is used to concatenate pandas objects.

In [147]:
# CollectData is the first data frame
# dfTofill is the second data frame
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

   index      period  attendances  breaches org_code  consent
0      0  2000-01-01            0         0      NaN    False
1   1155  2016-12-01          200         0   C82010    False
0   2059  2016-01-10         6452       360      RDZ     True
0   1155  2016-12-01          200         0   C82010     True
0   3468  2016-05-01          417         0      RVR     True
0   4153  2018-03-01         9376       112      RQM     True
0   4820  2018-02-01          245       112      R1F     True
0   4820  2018-02-01          245         0      R1F     True
0   7243  2017-07-01         5170       235      RE9     True
0   8057  2017-04-01        15957      1309      RQM     True
0   8957  2019-02-01         7258      1374      RNL     True
0  10214  2018-10-01         3197         0      RJ1     True
0  10328  2018-10-01         2033         8      RKB     True
0  11767  2018-06-01          336         1    NLO12     True

In [149]:
CollectData= CollectData.reset_index(drop=True)

In [150]:
display(CollectData)

    index      period  attendances  breaches org_code  consent
0       0  2000-01-01            0         0      NaN    False
1    1155  2016-12-01          200         0   C82010    False
2    2059  2016-01-10         6452       360      RDZ     True
3    1155  2016-12-01          200         0   C82010     True
4    3468  2016-05-01          417         0      RVR     True
5    4153  2018-03-01         9376       112      RQM     True
6    4820  2018-02-01          245       112      R1F     True
7    4820  2018-02-01          245         0      R1F     True
8    7243  2017-07-01         5170       235      RE9     True
9    8057  2017-04-01        15957      1309      RQM     True
10   8957  2019-02-01         7258      1374      RNL     True
11  10214  2018-10-01         3197         0      RJ1     True
12  10328  2018-10-01         2033         8      RKB     True
13  11767  2018-06-01          336         1    NLO12     True

# Remove values that did not supply consent
Before saving my collected data, I will remove any rows of data where informed consent was not obtained / indicated.

In [153]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

    index      period  attendances  breaches org_code  consent
2    2059  2016-01-10         6452       360      RDZ     True
3    1155  2016-12-01          200         0   C82010     True
4    3468  2016-05-01          417         0      RVR     True
5    4153  2018-03-01         9376       112      RQM     True
7    4820  2018-02-01          245         0      R1F     True
8    7243  2017-07-01         5170       235      RE9     True
9    8057  2017-04-01        15957      1309      RQM     True
10   8957  2019-02-01         7258      1374      RNL     True
11  10214  2018-10-01         3197         0      RJ1     True
12  10328  2018-10-01         2033         8      RKB     True
13  11767  2018-06-01          336         1    NLO12     True

# Save collected data to RawData folder

In [154]:
CollectData.to_csv('../RawData/CollectedDataFinal.csv', index=False)